%section.choose-beacons{:onmousedown => "return false", :onselectstart => "return false"}
  .container
    .col-md-12
      %h1 Choose beacons and fill in the order form?
    .col-md-16.row
      .col-md-3
        .choose-beacons__item
          %h1 ASensor
          .choose-beacons__item__img
            %img{:alt => "", :src => "./style/images/item1.png"}
            %h3 $15
            %p
              ASensor is a BLE beacon with multiple advertising data formats. The BLE is a very low power 2.4G
              radio that can transmit the beacon information efficiently. The typical beacon battery life is 1.5
              year in default settings 3-Axis, 12-bit accelerometer magna aliqua.
            .wrapper-counter
              .counter
                %a.minus
                  \-
                %input.number.js-product-quantity{"data-type" => "single", :max => "999", :maxlength => "999", :min => "1", :pattern => "[0-9]{3}", :type => "text", :value => "1"}
                  %a.plus
                    +
                %span &#x421;&#x20AC;&#x421;&#x201A;.
              %button buy now
          .col-md-3
            .choose-beacons__item
              %h1 ARM Cortex - M0
              .choose-beacons__item__img
                %img{:alt => "", :src => "./style/images/item2.png"}
                %h3 $13
                %p
                  ARM Cortex - M0 32-bit processor
                  Dialog solution, long battery life
                  Support Bluetooth Smart 4.0
                  Builtin 1 x CR2450 battery holder Temperature sensor for environment monitoring Configurable by App
                  AprilBeacon
                .wrapper-counter
                  .counter
                    %a.minus
                      \-
                    %input.number.js-product-quantity{"data-type" => "single", :max => "999", :maxlength => "999", :min => "1", :pattern => "[0-9]{3}", :type => "text", :value => "1"}
                      %a.plus
                        +
                    %span &#x421;&#x20AC;&#x421;&#x201A;.
                  %button buy now
              .col-md-3
                .choose-beacons__item
                  %h1
                    Estimote Proximity
                    Beacons
                  .choose-beacons__item__img
                    %img{:alt => "", :src => "./style/images/item3.png"}
                    %h3 $25
                    %p
                      Estimote Proximity Beacons lifetime: 2 years range: up to 70 m packets: iBeacon&#x432;&#x201E;&#x45E; or Eddystone&#x432;&#x201E;&#x45E; features: motion  temperature sensor, NFC
                    .wrapper-counter
                      .counter
                        %a.minus
                          \-
                        %input.number.js-product-quantity{"data-type" => "single", :max => "999", :maxlength => "999", :min => "1", :pattern => "[0-9]{3}", :type => "text", :value => "1"}
                          %a.plus
                            +
                        %span &#x421;&#x20AC;&#x421;&#x201A;.
                      %button buy now
                  .col-md-3
                    .choose-beacons__item
                      %h1
                        Aprilbeacon 227L
                        (150M Range)
                      .choose-beacons__item__img
                        %img{:alt => "", :src => "./style/images/item4.png"}
                        %h3 $30
                        %p
                          Aprilbeacon 227L (150M Range)
                          iBeacon size: 66mm*36mm*22mm
                          Default frequency: 900ms
                          Setting frequency: 100ms or more
                          System: IOS 7.0, Android 4.3
                          Color: green iBeacon + white case
                        .wrapper-counter
                          .counter
                            %a.minus
                              \-
                            %input.number.js-product-quantity{"data-type" => "single", :max => "999", :maxlength => "999", :min => "1", :pattern => "[0-9]{3}", :type => "text", :value => "1"}
                              %a.plus
                                +
                            %span &#x421;&#x20AC;&#x421;&#x201A;.
                          %button buy now