%footer
  .container
    .row
      .col-md-12
        %h1
          SUPPORT:(844) 295-0900
      .col-md-12
        %h2 support@frontdeskhelpers.com
      .col-md-12.footer__social
        %a{:href => "#"}
          %i.fa.fa-facebook{"aria-hidden" => "true"}
        %a{:href => "#"}
          %i.fa.fa-google-plus{"aria-hidden" => "true"}
        %a{:href => "#"}
          %i.fa.fa-youtube{"aria-hidden" => "true"}
        %a{:href => "#"}
          %i.fa.fa-linkedin{"aria-hidden" => "true"}
      .col-md-12.text-center.footer__link
        %a{:href => "#"} Privacy Policy
        %a{:href => "#"} Terms of Service
        %a{:href => "#"} Terms of Sales
      .col-md-12.text-center.footer__fdh
        %h1 © 2017 FDH Cloud
  .hand
    %img{:alt => "hand, wave", :src => "./style/images/hand.png"}/